@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	/* background: #000 url("img/bg.jpg") no-repeat center center/cover; */
	background-image: linear-gradient(
		#032202,
		#093009,
		#0d3e10,
		#1f6032,
		#29773e,
		#369457
	);
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
	color: rgb(177, 177, 177);
	font-family: "Special Elite", cursive;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1100px;
	margin: auto;
	padding: 20px;
}

.btn {
	display: inline-block;
	color: #fff;
	background-color: #3fb573;
	font-size: 1em;
	text-align: center;
	padding: 10px 15px;
	border: 0;
	margin: 10px 0;
}

header {
	height: 200px;
}

header img {
	width: 200px;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.search {
	height: 100px;
}

/* input[type="text"] {
	display: block;
	padding: 10px;
	font-size: 20px;
	border: 0;
	border-radius: 15px;
	width: 60%;
	margin: auto;
	outline: none;
} */

.cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
}

.card {
	cursor: pointer;
	background-color: transparent;
	height: 400px;
	perspective: 1000px;
}

.card h1 {
	font-size: 25px;
	border-bottom: 1px rgb(143, 143, 143) solid;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.card img {
	width: 100%;
	height: 400px;
	object-fit: center;
	border-radius: 15px;
}

.card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.card:hover .card-inner {
	transform: rotateX(180deg);
}

.card-front,
.card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 15px;
}

.card-back {
	background-color: rgb(56, 56, 56);
	color: #29773e;
	padding: 20px;
	transform: rotateX(180deg);
}

.card li {
	list-style: none;
	padding-bottom: 10px;
}

@media (max-width: 800px) {
	.cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 500px) {
	.cards {
		grid-template-columns: 1fr;
	}
}

/* search bar */

.search-bar {
	position: absolute;
	top: 33%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: inherit;
	/* height: 40px; */
	border-radius: 40px;
	padding: 10px;
	/* box-shadow: 0 0 25px rgb(157, 52, 255); */
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset,
		rgba(50, 50, 93, 0.25) 0px 0px 10px -20px inset;
}

.search-bar:hover > .search-txt {
	width: 240px;
	padding: 0 6px;
	border-radius: 50px 0px 0px 50px;
}

.search-bar:hover > .search-btn {
	background: inherit;
	color: #6a1cb3;
	border-radius: 0px 50px 50px 0px;
}

.search-btn {
	color: #18bee8;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #6a1cb3;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	color: rgb(255, 255, 255);
	cursor: pointer;
}

.search-btn > i {
	font-size: 20px;
}

.search-txt {
	border-radius: 25px;
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: rgb(153, 0, 255);
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	width: 0px;
	/* font-weight: bold; */
	/* box-shadow: inset 1px 1px 5px #757575; */
}

.search-txt::placeholder {
	font-family: inherit;
}
